{% extends 'layouts/base.html' %}

{% block content %}

    <div class="banner">
        
        <div class="banner__titulo">

            <h1>Scientific Papers</h1>
            <h3>Search PDFs and articles in our Data Base about the amazing properties about <b>Aloe Vera</b></h3>

        </div>

        <div class="banner__content">
            350 Reasearch Articles | +50 Commercial Brochures | 1,587 References | +300 Formulas | +1000 Benefits
        </div>

    </div>

    <h1>{{ title }}</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit omnis quia vero, non illo ea fugit repellendus. Nihil ut eaque ex reiciendis cumque dolores eius illo quisquam dolorum, soluta reprehenderit!</p>

{% endblock %}
