/*
|   ---------------------------------------------------------------------------------
|   @Layouts (Index)
|   ---------------------------------------------------------------------------------
|
*/

.container{
    display: flex;
    width: 100%;
    height: max-content;
    position: relative;
    flex-direction: column;
    padding: 5rem;
}

.container__card{
    display: flex;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    width: 100%;
    height: 5rem;
    align-items: center;
    font-weight: bold;
}

.container__link{
    text-decoration: none;
    color: black;
    padding: 2rem;
    width: 100%;
}